{% load static %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Eten bestellen</title>
    <!-- Searching for the favicon within the static folder (refer to .info.txt for more information)  -->
    <link rel="shortcut icon" type="image/png" href="{% static "images/favicon.ico" %}"/>
    <!-- Bootstrap cdn's  -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>

<body style="background-color: #1AB0FF;">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
            <a class="nav-item nav-link" href="{% url 'index' %}">Home</a>
            <a class="nav-item nav-link" href="{% url 'broodjeshuis' %}">Broodjeshuys</a>
            <a class="nav-item nav-link active" href="{% url 'walvis' %}">De Walvis</a>
            <a class="nav-item nav-link" href="#">|</a>
            <a class="nav-item nav-link" href="{% url 'betaler' %}">Bepaal de betaler</a>
            </div>
        </div>
        <div class="my-2 my-lg-0">
            <a class="nav-item nav-link" href="/admin">Admin Login</a>
        </div>
    </nav>

    <div class="container border border-dark rounded mt-4" style="background-color: white;">
        <h1>De Walvis</h1>
        <br>

        <form action="post/" method="post">
            {% csrf_token %}
            <div class="mb-3">
                <label for="naam" class="form-label">Naam *</label>
                <input name="naam" type="text" class="form-control" id="naam" required>
            </div>
            <div class="mb-3">
                <label for="nummer" class="form-label">Telefoonnummer *</label>
                <input name="nummer" type="tel" class="form-control" id="nummer" min="0" pattern="[0-9]{10}" required>
                <div class="form-text"><small>Voorbeeld: 0612345678</small></div>
            </div>
            <div class="mb-3">
                <label for="keuze" class="form-label">Keuze *</label>
                <input name="keuze" type="text" class="form-control" id="keuze" required>
                <div class="form-text"><a href="https://www.eetcafedewalvis.nl/de-kaart/" target="_blank">Menukaart</a></div>
            </div>
            <div class="mb-3">
                <label for="prijs" class="form-label">Prijs</label>
                <input name="prijs" type="text" class="form-control" id="prijs">
                <div class="form-text"><small>Voor het makkelijk maken van het sturen van Tikkies</small></div>
            </div>
            <br><br>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>

    </div>
</body>